<!-- ikeliam head -->
<%- include('./partials/head.ejs') %>
<!-- //ikeliam bendra navigacijos faila dinamiskai -->
<%- include('./partials/nav.ejs')%>
<h1>This is express app About page</h1>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, sunt natus, quisquam, libero autem nisi id
  explicabo minima reprehenderit aut assumenda velit quas ipsum ipsa perspiciatis delectus voluptate asperiores
  repellat.
</p>

<%-include('./partials/footer.ejs')%>
