<!-- ikeliam head -->
<%- include('./partials/head.ejs') %>
<!-- //ikeliam bendra navigacijos faila dinamiskai -->
<%- include('./partials/nav.ejs')%>
<h1>This is express blog app contact us page</h1>

<%-include('./partials/footer.ejs')%>
