<!-- ikeliam head -->
<%- include('./partials/head.ejs') %>
<!-- //ikeliam bendra navigacijos faila dinamiskai -->
<%- include('./partials/nav.ejs')%>
<h1>This is express blog app</h1>
<h3>Blogs sample</h3>
<!-- <ul class="list-group">
  <%# blogData.forEach((dataEl) => { %>
  <li class="list-group-item"><%#-`<strong>${dataEl.title}</strong> | Author: ${dataEl.author}` %></li>
  <%# }) %>
</ul> -->

<%-include('./partials/footer.ejs')%>
